<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>dbSample</servlet-name>
		<servlet-class>org.mklab.taskit.server.DBSampleServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>hibernateSample</servlet-name>
		<servlet-class>org.mklab.taskit.server.HibernateSampleServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dbSample</servlet-name>
		<url-pattern>/taskit/db_sample</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>hibernateSample</servlet-name>
		<url-pattern>/taskit/hibernate_sample</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>taskit.html</welcome-file>
	</welcome-file-list>

</web-app>
