<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<servlet>
		<servlet-name>requestFactoryServlet</servlet-name>
		<servlet-class>org.mklab.taskit.server.TaskitRequestFactoryServlet</servlet-class>
		<init-param>
			<param-name>symbolMapsDirectory</param-name>
			<!-- You'll need to compile with -extras and move the symbolMaps directory 
				to this location if you want stack trace deobfuscation to work -->
			<param-value>WEB-INF/classes/symbolMaps/</param-value>
		</init-param>
		<!-- Database information -->
		<init-param>
			<param-name>taskit-db-url</param-name>
			<param-value>jdbc:mysql://localhost/taskit</param-value>
		</init-param>
		<init-param>
			<param-name>taskit-dbuser-id</param-name>
			<param-value>taskit</param-value>
		</init-param>
		<init-param>
			<param-name>taskit-dbuser-password</param-name>
			<param-value></param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>EventService</servlet-name>
		<servlet-class>org.mklab.taskit.server.TaskitEventServiceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>requestFactoryServlet</servlet-name>
		<url-pattern>/gwtRequest</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EventService</servlet-name>
		<url-pattern>/taskit/gwteventservice</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>taskit.html</welcome-file>
	</welcome-file-list>

</web-app>
